<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: white;">
            Angular CRUD(Addrow Operation)
        </h1>
        <div class="d-flex">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="btn btn-success">Add</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>

            <td>
                <button class="btn btn-warning">Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
            </td>

        </tr>
        <tr>
            <td>1</td>
            <td>Sebastian</td>
            <td>Eschweiler</td>
            <td>sebastian@codingthesmartway.com</td>
            <td>
                <button class="btn btn-warning">Edit</button>
                <button  class="btn btn-danger mx-3">Delete</button>
            </td>

        </tr>

        <tr>
            <td>2</td>
            <td>Steve</td>
            <td>Palmer</td>
            <td>stevecodingthesmartway.com</td>
            <td>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger mx-3">Delete</button>
            </td>

        </tr>

        <tr>
            <td>3</td>
            <td>Ann</td>
            <td>Smith</td>
            <td>ann@codingthesmartway.com</td>
            <td>
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger mx-3">Delete</button>
            </td>

        </tr>


    </tbody>

</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">

                    <div class="form-group">
                        <label for="exampleInputPassword1">ID</label>
                        <input type="number" formControlName="Id" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter Id">
                    </div>


                    <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" formControlName="first_name" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Enter first_name">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Last Name</label>
                        <input type="text" formControlName="last_name" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter last_name">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="text" formControlName="email" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter email">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>